/* Genel ayarlar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header ve Logo Stili */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header .logo img {
    width: 50px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Bölüm Başlıkları */
.title_1, .title_2 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* Profile Bölümü */
#profile {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

/* Diğer bölümler için özel stiller burada devam edebilir */
.profile-image {
    width: 150px; /* Resim boyutunu ayarlayın */
    height: auto;
    border-radius: 50%; /* Yuvarlak yapmak için */
    margin-bottom: 20px; /* Alttan boşluk */
}

